[Desktop Entry]
Type=Application
Exec=/usr/bin/redshift -l 34:84 -t 5500:4000
Hidden=false
X-GNOME-Autostart-enabled=true
Name=redshift
Comment=redden screen
